<div class="col-12 w-100 bg-greydark fixed-top">
    <div class="container">
        <div class="col-auto" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
            aria-controls="offcanvasExample">
            <button class="btn btn-light border-0 rounded-0 fs-5 op-effect"><i class="bi bi-list"></i></button>
        </div>
    </div>
</div>

<!--barra de navegação lateral esquerda-->
<div class="offcanvas offcanvas-start bg-greydark" tabindex="-1" id="offcanvasExample"
    aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <img src="../files/img/logoeasymoney.jpg" class="easy-logo rounded-3 box-shadow-light">
        <h4 class="text-white ms-3">Bem vindo(a)!</h4>
        <button type="button" class="btn-close btn-close-white text-reset ms-auto" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
    </div>
    <div class="offcanvas-body px-0">
        <div class="tags">
            <a href="estrategias.html"
                class="open dropper btn btn-light hover-1 w-100 border-0 rounded-0 text-start mb-1">
                <i class="me-3 bi bi-graph-up-arrow"></i>Estratégias
            </a>
            <div class="no-underline open dropper btn btn-light hover-1 w-100 border-0 rounded-0 text-start mb-1">
                <i class="me-3 bi bi-record-circle"></i>Roletas<i class="bi bi-chevron-compact-down float-end me-2"></i>
            </div>
            <!--dropdown do item acima-->
            <div class="category mb-1">
                <a href="roletas-evolution.html"
                    class="open dropper btn btn-light hover-1 w-100 border-0 rounded-0 text-start mb-1">
                    <i class="ms-4 me-2 bi bi-record-circle"></i>Evolution
                </a>
                <a href="roletas-playtech.html"
                    class="open dropper btn btn-light hover-1 w-100 border-0 rounded-0 text-start mb-1">
                    <i class="ms-4 me-2 bi bi-record-circle"></i>Playtech
                </a>
            </div>
         
          
            <a href="grupos.html"
                class="open dropper btn btn-light hover-1 w-100 border-0 rounded-0 text-start mb-1">
                <i class="me-3 bi bi-people"></i>Grupos
            </a>
            <a href="relatorios.html"
                class="open dropper btn btn-light hover-1 w-100 border-0 rounded-0 text-start mb-1">
                <i class="me-3 bi bi-speedometer2"></i>Relatórios
            </a>
            <a href="sistema.html" class="open dropper btn btn-light hover-1 w-100 border-0 rounded-0 text-start mb-1">
                <i class="me-3 bi bi-terminal"></i>Sistema
            </a>
            <a href="admin.html" class="open dropper btn btn-light hover-1 w-100 border-0 rounded-0 text-start mb-1">
                <i class="me-3 bi bi-person-check"></i>Admnistradores
            </a>
        </div>
    </div>
</div>